name: CI

on: [push, pull_request]

jobs:
  test:
    name: alternative I/O = ${{ matrix.altio }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        altio: [YES, NO]
    env:
      WITH_ALTIO: ${{ matrix.altio }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install roswell
        run: |
          curl -L https://raw.githubusercontent.com/roswell/roswell/master/scripts/install-for-ci.sh | sh
      - name: Install Ultralisp
        run: |
          ros -e '(ql-dist:install-dist "http://dist.ultralisp.org/" :prompt nil)'
      - name: Run tests
        run: |
          ros -l $GITHUB_WORKSPACE/tests/travis.lisp
